/node_modules
/public/hot
/public/storage
# exclude everything
# /public/sertifikat_jadi/*
# exception to the rule
!public/sertifikat_jadi/.gitkeep
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/documnet_images